@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
body {
  font-family: "Fredoka", sans-serif;
  background-color: #F8F9FA !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

.bg-blue {
  background-color: #005F99 !important;
}

.text-blue {
  color: #005F99 !important;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
